<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>读者书籍列表</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h2>你的阅读列表</h2>
<div th:unless="${#lists.isEmpty(books)}">
    <dl th:each="book:${books}">
        <dt class="bookHeadline">
            <span th:text="${book.title}">Title</span>
        </dt>
    </dl>
</div>
<div th:if="${#lists.isEmpty(books)}">
    <p>你的书籍列表中暂时没有可阅读书籍</p>
</div>
<hr/>
<h3>添加一本书籍</h3>
<form method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" size="50"/><br/>
    <input type="submit"/>
</form>
</body>
</html>